[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.1.2"
python-decouple = "==3.1"
dj-database-url = "==0.5.0"
django-jet = "==1.0.8"
djangorestframework = "==3.7.7"
django-oauth-toolkit = "==1.0.0"
drf-yasg = "==1.11.1"
django-cors-headers = "==2.4.0"
django-filter = "==2.0.0"
django-debug-toolbar = "==1.11"
slackclient = "==1.3.0"
firebase-admin = "==2.14.0"
django-dotenv = "==1.4.2"
whitenoise = "==3.3.1"
tqdm = "==4.28.1"
"psycopg2-binary" = "==2.7.6.1"
gunicorn = "==19.9.0"
gevent = "==1.3.7"
silk = {git = "git+https://github.com/jazzband/django-silk.git", editable = true}
python-crontab = "*"

[dev-packages]
coverage = "==4.5.2"
coveralls = "==1.5.1"
"flake8" = "==3.6.0"
pytest-django = "==3.4.4"

[requires]
python_version = "3.6.4"
