[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.1.2"
python-decouple = "*"
dj-database-url = "*"
django-jet = "==1.0.8"
djangorestframework = "==3.7.7"
django-oauth-toolkit = "==1.0.0"
drf-yasg = "*"
django-cors-headers = "*"
django-filter = "*"
django-debug-toolbar = "*"
slackclient = "*"
firebase-admin = "*"
django-dotenv = "*"
whitenoise = "==3.3.1"
tqdm = "*"
coverage = "*"
coveralls = "*"
"psycopg2-binary" = "*"
gunicorn = "*"
gevent = "*"

[dev-packages]
coverage = "*"
coveralls = "*"
"flake8" = "*"
pytest-django = "*"

[requires]
python_version = "3.6.4"
