# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
default: &default
  docker:
    # specify the version you desire here
    # use `-browsers` prefix for selenium tests, e.g. `3.6.1-browsers`
    - image: circleci/python:3.6.4
      environment:
        PIPENV_VENV_IN_PROJECT: 'true'
        DATABASE_URL: postgresql://root@localhost/circle_test?sslmode=disable
    - image: circleci/postgres:9.6
      environment:
        POSTGRES_USER: root
        POSTGRES_DB: circle_test
        POSTGRES_PASSWORD: ""
  working_directory: ~/art-backend
cmd_change_owner: &cmd_change_owner
  run:
    name: change owner
    command: |
      sudo chown -R circleci:circleci /usr/local/bin
      sudo chown -R circleci:circleci /usr/local/lib/python3.6/site-packages
cmd_restore_cache: &cmd_restore_cache
  restore_cache:
    key: deps9-{{ .Branch }}-{{ checksum "Pipfile.lock" }}-{{ .Environment.CACHE_VERSION }}
cmd_install_requirements: &cmd_install_requirements
  run:
    name: install application requirements
    command: |
      sudo pip install pipenv
      pipenv install -v -d
cmd_save_cache: &cmd_save_cache
  save_cache:
    key: deps9-{{ .Branch }}-{{ checksum "Pipfile.lock" }}-{{ .Environment.CACHE_VERSION }}
    paths:
      - ".venv"
      - "/usr/local/bin"
      - "/usr/local/lib/python3.6/site-packages"

version: 2
jobs:
  build:
    <<: *default
    steps:
      - checkout
      - *cmd_change_owner
      - *cmd_restore_cache
      - *cmd_install_requirements
      - *cmd_save_cache
  flake8:
    <<: *default
    steps:
      - checkout
      - *cmd_change_owner
      - *cmd_restore_cache
      - run:
          name: run flake8 checks on project
          command: |
            pipenv run flake8 .
  black:
    <<: *default
    steps:
      - checkout
      - *cmd_change_owner
      - *cmd_restore_cache
      - run:
          name: run black formatter on project
          command: |
            pipenv run black --check --diff -S --exclude="migrations|.venv" .
  isort:
    <<: *default
    steps:
      - checkout
      - *cmd_change_owner
      - *cmd_restore_cache
      - run:
          name: isort - imports sorting
          command: |
            pipenv run isort -rc --check-only --diff --atomic -q .
  shellcheck:
    <<: *default
    steps:
      - checkout
      - *cmd_change_owner
      - *cmd_restore_cache
      - run:
          name: check sh files
          command: |
            sudo apt-get install shellcheck
            for file in $(find . -type f -name "*.sh"); do shellcheck --format=gcc $file; done;
  tests:
    <<: *default
    steps:
      - checkout
      - *cmd_change_owner
      - *cmd_restore_cache
      - attach_workspace:
          at: ~/art-backend/tmp
      - run:
          name: run tests
          command: |
            pipenv run coverage run --source core,api -m pytest --durations=0
      - run:
          name: save coverage
          command: pipenv run coverage xml -o ./tmp/coverage.xml
      - run:
          name: run coveralls
          command: |
            pipenv run coveralls
      - persist_to_workspace:
          root: tmp
          paths:
            - coverage.xml
  diff:
      <<: *default
      steps:
        - checkout
        - *cmd_change_owner
        - *cmd_restore_cache
        - attach_workspace:
            at: ~/art-backend/tmp
        - run:
            name: diff cover
            command: pipenv run diff-cover tmp/coverage.xml --compare-branch=origin/develop --fail-under=90
  deploy_staging:
    <<: *default
    steps:
      - checkout
      - setup_remote_docker:
          version: 17.11.0-ce
      - run:
          name: Update APT sources list
          command: |
            sudo rm /etc/apt/sources.list
            echo "deb http://archive.debian.org/debian/ jessie-backports main" | sudo tee -a /etc/apt/sources.list
            echo "deb-src http://archive.debian.org/debian/ jessie-backports main" | sudo tee -a /etc/apt/sources.list
            echo "Acquire::Check-Valid-Until false;" | sudo tee -a /etc/apt/apt.conf.d/10-nocheckvalid
            echo 'Package: *\nPin: origin "archive.debian.org"\nPin-Priority: 500' | sudo tee -a /etc/apt/preferences.d/10-archive-pin
            sudo apt-get update
      - run:
          name: deploying application to staging
          command: |
            bash scripts/deploy.sh
  deploy_production:
    <<: *default
    steps:
      - checkout
      - setup_remote_docker:
          version: 17.11.0-ce
      - run:
          name: Update APT sources list
          command: |
            sudo rm /etc/apt/sources.list
            echo "deb http://archive.debian.org/debian/ jessie-backports main" | sudo tee -a /etc/apt/sources.list
            echo "deb-src http://archive.debian.org/debian/ jessie-backports main" | sudo tee -a /etc/apt/sources.list
            echo "Acquire::Check-Valid-Until false;" | sudo tee -a /etc/apt/apt.conf.d/10-nocheckvalid
            echo 'Package: *\nPin: origin "archive.debian.org"\nPin-Priority: 500' | sudo tee -a /etc/apt/preferences.d/10-archive-pin
            sudo apt-get update
      - run:
          name: deploying application to production
          command: |
            bash scripts/deploy.sh
            
  release_notes:
    <<: *default
    steps:
      - add_ssh_keys
      - checkout
      - run:
          name: release notes
          command: |
            git config user.email "${GIT_EMAIL}"
            git config user.name "${GIT_USER}"
            bash scripts/release.sh
workflows:
  version: 2
  build_test_deploy:
    jobs:
      - build
      - flake8:
          requires:
            - build
      - black:
          requires:
            - build
      - isort:
          requires:
            - build
      - shellcheck:
          requires:
            - build
      - tests:
          requires:
            - flake8
            - black
            - isort
            - shellcheck
      - diff:
          requires:
            - tests
      - deploy_staging:
          requires:
            - tests
          filters:
            branches:
              only:
                - develop
      - deploy_production:
          requires:
            - tests
          filters:
            branches:
              only: master
      - release_notes:
          requires:
            - deploy_production